* {
  margin: 0;
  padding: 0;
  width: 100%;
}
.top-container {
  display: flex;
  flex-direction: column;
  background-color: #adc178;
}

/* ------------------------------HEADER SECTION------------------------------------- */

.header {
  display: flex;
  align-items: center;
  background-color: #6c584c;
  padding: 0.5rem 0;
  box-shadow: 2px 5px 10px black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
ul,
a {
  list-style-type: none;
  text-decoration: none;
  font-size: 24px;
  color: #f0ead2;
}
.header-links ul {
  display: flex;
  flex-direction: row;
  width: 75%;
  text-align: center;
  align-items: center;
}

.header img {
  width: 50px;
  height: 50px;
  margin: auto 200px;
}

.top-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* text-align: center; */
  padding: 100px;
  width: 75%;
  margin: auto 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.top-content-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 75px;
}
.top-content-left p {
  font-size: 20px;
  color: #f0ead2;
  margin-bottom: 30px;
}
.top-content-left h1 {
  font-size: 50px;
  color: #43362f;
  margin-bottom: 20px;
}
.top-content-left button {
  width: 100px;
  padding: 10px;
  font-size: 16px;
  border: 0;
  border-radius: 5px;
  color: #f0ead2;
  background-color: #6c584c;
  box-shadow: 2px 2px 4px black;
}
.top-content-left button:hover {
  background-color: #2f251f;
}

.top-content-right img {
  width: 100%;
  border-radius: 25px;
  box-shadow: 2px 5px 10px black;
}

/* -------------------- SECOND CONTAINER -------------------- */

.second-container {
  background-color: #f0ead2;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dog-info-container {
  display: flex;
  flex-direction: row;
  gap: 40px;
  color: black;
  width: 70%;
  justify-content: center;
  margin: 0 auto;
}

.second-container h1 {
  text-align: center;
  padding: 50px 0;
  color: #43362f;
}

.dinfo {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.dinfo h3 {
  text-align: center;
  color: #43362f;
}
.dinfo img {
  height: 200px;
  width: 200px;
  margin: 0 auto;
  border: 5px solid #43362f;
  border-radius: 15px;
  box-shadow: 5px 5px 5px #7d6659;
}

.dinfo p {
  font-size: 18px;
  text-align: center;
  color: #6c584c;
  margin-bottom: 25px;
}


/* --------------------THIRD CONTAINER-------------------- */

.third-container{
    background-color: #adc178;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.third-content{
    padding: 70px;
    font-size: 32px;
    width: 70%;
   
    margin: 0 auto;
    
}

.third-content p{
    color: #43362f;
    text-align: center;
}

.bold{
    font-weight: 700;
    display: flex;
    margin: 16px auto;
    justify-content: flex-end;
}

/* --------------------FOURTH CONTAINER-------------------- */

.fourth-container{
    padding: 100px 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.fourth-container-card{
    display: flex;
    background-color: #6c584c;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    padding: 30px 100px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #7d6659;
    color: #dde5b6;
    
}

.left-section-four,.right-section-four {
    padding: 10px 10px;
}
.right-section-four button{
    width: 50%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #dde5b6;
    color: #6c584c;
    font-weight: 700;
    overflow: visible;
    box-shadow: 2px 2px 5px #acb86e ;
}

.right-section-four button:hover
{background-color: #bbc683;


}

.right-section-four{
    padding-left: 125px;
}


/* --------------------FOOTER-------------------- */

footer{
    background-color: #dde5b6;
    padding: 20px 0;
    text-align: center;
    font-weight: 900;
    color: #43362f;
}
