* {
  margin: 0;
  padding: 0;
  width: 100%;
}
.top-container {
  display: flex;
  flex-direction: column;
  background-color: #adc178;
}

/* ------------------------------HEADER SECTION------------------------------------- */

.header {
  display: flex;
  align-items: center;
  background-color: #6c584c;
  padding: 0.5rem 0;
  box-shadow: 2px 5px 10px black;
}
ul,
a {
  list-style-type: none;
  text-decoration: none;
  font-size: 24px;
  color: #f0ead2;
}
.header-links ul {
  display: flex;
  flex-direction: row;
  width: 75%;
  text-align: center;
  align-items: center;
}

.header img {
  width: 50px;
  height: 50px;
  margin: auto 200px;
}

.top-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* text-align: center; */
  padding: 100px;
  width: 75%;
  margin: auto 25px;
}

.top-content-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 75px;
}
.top-content-left p {
  font-size: 20px;
  color: #f0ead2;
  margin-bottom: 30px;
}
.top-content-left h1 {
  font-size: 50px;
  color: #a98467;
  margin-bottom: 20px;
}
.top-content-left button {
  width: 100px;
  padding: 10px;
  font-size: 16px;
  border: 0;
  border-radius: 5px;
  color: #f0ead2;
  background-color: #6c584c;
}
.top-content-left button:hover {
  background-color: #2f251f;
}

.top-content-right img {
  width: 100%;
  border-radius: 25px;
  box-shadow: 2px 5px 10px black;
}

/* -------------------- SECOND CONTAINER -------------------- */
